.content-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* min-height: calc(100vh - HEADER_HEIGHT - FOOTER_HEIGHT); Replace with actual values */
  }
  
  .app-sidenav {
    width: 200px; /* Set according to your needs */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    /* background-color: #f9f9f9; */
  }
  
  .align-content{
    display: flex;justify-content: space-between ;padding-right: 5%;
  }