.content-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .app-sidenav {
    width: 200px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .align-content{
    display: flex;justify-content: space-between ;padding-right: 5%;
  }

  .adjust-buttons{
    display: flex; padding-left: 30%;padding-top: 18%
  }